pandas
numpy
seaborn
matplotlib
scikit-learn
xgboost
gunicorn
Flask
dill
requests
beautifulsoup4
bs4
jinja2
librosa==0.10.0.post2
lxml==4.9.3
tensorflow==2.12.0
dvc
python-dotenv
mlflow==2.2.2
notebook
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask-Cors
gdown
-e .